# Text Sentiment Analysis

In [96]:
pip install nltk scikit-learn

Requirement already satisfied: nltk in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (3.9.1)
Requirement already satisfied: scikit-learn in c:\users\abdul-samad\appdata\roaming\python\python313\site-packages (1.5.2)
Requirement already satisfied: click in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\abdul-samad\appdata\roaming\python\python313\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\abdul-samad\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\abdul-samad\appdata\roaming\python\python313\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: colorama in c:\users\abdul-samad\.conda\envs\ml_env\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [97]:
df=pd.read_csv(r'D:\Six Month Data Science Course with Codenamics\IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

# About Data 

1. After reading the dataset which contain 500k rows and 2 columns one column depands on text and other column is sentiment,positive and negative o is negative and 1 is positive

In [98]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [99]:
df.shape

(50000, 2)

In [100]:
df.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [101]:
df.duplicated().sum()

np.int64(418)

In [102]:
df.drop_duplicates(inplace=True)

In [103]:
df.shape

(49582, 2)

In [104]:
df.describe()

                                                   review sentiment
count                                               49582     49582
unique                                              49582         2
top     No one expects the Star Trek movies to be high...  positive
freq                                                    1     24884

# Working with labels

In [105]:
reviews = df['review']  # Assuming 'review' column contains the text
labels = df['sentiment']  # Assuming 'sentiment' column contains the labels (e.g., positive/negative)

In [106]:
import nltk

# Specify a directory to download NLTK data
nltk.download('punkt', download_dir='C:/nltk_data')
nltk.download('stopwords', download_dir='C:/nltk_data')
nltk.download('wordnet', download_dir='C:/nltk_data')

[nltk_data] Downloading package punkt to C:/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [107]:
import nltk
nltk.data.path.append('C:/nltk_data')  # Add your custom directory

In [108]:
import re
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(f"[{string.punctuation}]", "", text)  # Remove punctuation
    words = word_tokenize(text)  # Tokenization
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]  # Lemmatization & Stopword removal
    return " ".join(words)

# Example usage

In [109]:
print(type(reviews))
print(reviews[:5])  # Print the first 5 reviews

<class 'pandas.core.series.Series'>
0    One of the other reviewers has mentioned that ...
1    A wonderful little production. <br /><br />The...
2    I thought this was a wonderful way to spend ti...
3    Basically there's a family where a little boy ...
4    Petter Mattei's "Love in the Time of Money" is...
Name: review, dtype: object

In [111]:
def preprocess_text(text):
    try:
        text = text.lower()  # Convert to lowercase
        text = re.sub(f"[{string.punctuation}]", "", text)  # Remove punctuation
        words = word_tokenize(text)  # Tokenization
        words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]  # Lemmatization & Stopword removal
        return " ".join(words)
    except Exception as e:
        print(f"Error processing text: {text}")
        print(e)

In [112]:
# Filter out empty or non-string reviews
cleaned_reviews = [review for review in reviews if isinstance(review, str) and review.strip() != '']

In [ ]:
preprocessed_reviews = [preprocess_text(review) for review in cleaned_reviews]